body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Jasny szary */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Biały dla lepszej czytelności */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
    height: 100px;
}
/* Kolorystyka tła w nagłówku */
.navbar {
    background-color: #31a368; /* Ciemny niebieski */
}

h2 {
    color: #003d5b; /* Ciemny niebieski */
    text-align: center;
    margin-bottom: 15px;
    font-size: 28px; /* Zwiększenie wielkości czcionki */
}

h3 {
    color: #003d5b; /* Ciemny niebieski */
    margin-bottom: 15px;
    font-size: 28px; /* Zwiększenie wielkości czcionki */
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Zmiana na wyrównanie do lewej */
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column; /* Każde pole formularza na osobnej linii */
    margin-bottom: 15px; /* Większa odległość między polami */
    width: 100%; /* Pola rozciągają się na pełną szerokość kontenera */
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #003d5b; /* Ciemny niebieski */
}

input[type="text"],
input[type="date"],
input[type="file"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 100%; /* Pola mają teraz pełną szerokość */
    box-sizing: border-box; /* Zapewnienie, że padding nie rozszerza szerokości */
}

input[type="submit"],
input[type="reset"],
button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #e60f23; /* Ciemny niebieski */
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px; /* Odstęp między przyciskami */
    transition: background-color 0.3s ease;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover {
        background-color: #e60f23; /* Ciemniejszy niebieski */
    }

/* Styl dla stopki */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2fa367; /* Ciemny niebieski */
    color: #ffffff;
}

    footer p {
        margin: 0;
        color: #ffffff;
    }

/* Styl dla tabeli */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #003d5b; /* Ciemny niebieski */
    color: white;
}

td {
    padding: 12px;
    text-align: left;
}

tr:hover {
    background-color: #f1f1f1;
}

table a {
    text-decoration: none;
    color: #003d5b;
    font-weight: bold;
}

    table a:hover {
        text-decoration: underline;
    }

/* Responsywność */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .form-group {
        width: 100%;
    }
}
.card-counter {
    background-color: #f8f9fa; /* Jasne tło */
    border: 1px solid #dee2e6; /* Delikatna ramka */
    border-radius: 5px; /* Zaokrąglone rogi */
    padding: 15px; /* Wewnętrzne marginesy */
    margin: 15px 0; /* Zewnętrzne marginesy */
    font-size: 16px; /* Rozmiar czcionki */
    color: #31a368; /* Kolor tekstu */
    font-weight: bold; /* Pogrubienie tekstu */
}

