/* Przyk쓰dowe style */
body {
    background-color: #f4f4f4; /* T쓾 strony */
    color: #333; /* Tekst */
}

.navbar {
    background-color: #003d26; /* Kolor t쓰 paska nawigacji */
}

.navbar-brand img {
    height: 50px; /* Wysoko럱 logo */
}

.btn-primary {
    background-color: #003d26; /* Kolor t쓰 przycisk雕 */
    border-color: #003d26; /* Kolor obramowania przycisk雕 */
}

    .btn-primary:hover {
        background-color: #005c43; /* Kolor t쓰 przycisk雕 po najechaniu */
        border-color: #005c43; /* Kolor obramowania przycisk雕 po najechaniu */
    }

.alert-danger {
    background-color: #f8d7da; /* Kolor t쓰 dla alert雕 b師雕 */
    color: #721c24; /* Kolor tekstu dla alert雕 b師雕 */
}

.alert-success {
    background-color: #d4edda; /* Kolor t쓰 dla alert雕 sukcesu */
    color: #155724; /* Kolor tekstu dla alert雕 sukcesu */
}

.form-control {
    border-color: #003d26; /* Kolor obramowania p肇 formularza */
}

.img-thumbnail {
    border: 1px solid #ddd; /* Kolor obramowania obrazk雕 */
    border-radius: .25rem; /* Zaokr젾lenie rog雕 */
}
